### AL ###
# Template for AL projects for Dynamics 365 Business Central

# VS Code launch configuration
.vscode/

# Cache folder
.alcache/

# Symbols folder
.alpackages/

# Snapshots folder
.snapshots/

# Testing output folder
.output/

# Extension App-file
*.app

# Rapid Application Development file
rad.json

# Translation base-file
*.g.xlf

# License files
*.bclicense
*.flf

# Test results file
TestResults.xml

# Node.js dependencies
node_modules/
